@import '~css/common';

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: grid-spacing(2);
  }

  .login-content {
    & > .button-group {
      margin-top: grid-spacing(3);

      & > * {
        height: grid-spacing(5) !important;

        &:not(:first-child) {
          margin-top: grid-spacing(2) !important;
        }
      }

      .facebook-text {
        color: white;
      }

      .login-text {
        padding: 0 grid-spacing(3);
      }
    }
  }
}
