@import '~css/common';

.vocab-item-container {
  display: flex;

  & > .vocab-item {
    display: flex;
    width: 100%;

    & > * {
      &:not(:first-child) {
        margin-left: grid-spacing(1);
      }
    }
  }
}
