@import '~css/common';

.vocab-item-container {
  display: flex;

  & > * {
    &:not(:first-child) {
      margin-left: $vocab-vertical-spacing;
    }
  }

  & > * {
    &:not(.delete-icon) {
      flex: 1 0 0;
    }
  }

  & > .delete-icon {
    height: $icon-dimen;
    width: $icon-dimen;
  }
}
