@function grid-spacing($multiplier) {
  @return 8px * $multiplier;
}

@function semi-grid-spacing($multiplier) {
  @return grid-spacing($multiplier) / 2;
}

$button-background: rgba(0, 0, 0, 0.1);
$divider-background: rgba(0, 0, 0, 0.1);
$divider-width: 1px;
$highlight-background: rgba(0, 0, 0, 0.08);
$icon-dimen: grid-spacing(6);
$selected-background: rgba(0, 0, 0, 0.1);
$vocab-vertical-spacing: grid-spacing(2);

@mixin progress-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}
