@function grid-spacing($multiplier) {
  @return 8px * $multiplier;
}

@function semi-grid-spacing($multiplier) {
  @return grid-spacing($multiplier) / 2;
}

$button-background: rgba(0, 0, 0, 0.1);
$icon-dimen: grid-spacing(6);
$vocab-vertical-spacing: grid-spacing(2);
