@import '~css/common';

.vocab-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 0 grid-spacing(2);

  & > .header-container {
    display: flex;
    margin-top: grid-spacing(1);
    width: 100%;

    & > * {
      flex: 1 0 0;
      font-weight: bold;
      padding: semi-grid-spacing(1) 0;

      &:not(:first-child) {
        margin-left: grid-spacing(2);
      }
    }
  }

  & > .header-divider {
    width: 100%;
  }

  & > .vocab-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > .item-container {
      & > * {
        &:not(:first-child) {
          margin-top: semi-grid-spacing(1);
        }
      }
    }
  }

  & > .confirm-vocab {
    background-color: $button-background;
    margin-top: grid-spacing(2);
  }
}
