@import '~css/common';

.vocab-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 0 grid-spacing(1);

  & > * {
    &:not(:first-child) {
      margin-top: grid-spacing(1);
    }
  }

  & > .confirm-vocab {
    background-color: $button-background;
  }
}
